<!-- <router-outlet></router-outlet> -->
<app-session-result [sessions]="sessions$ | async" (sessionSelected)="sessionSelected$.next($event)"></app-session-result>
<ng-container *ngIf="error$ | async as error">
  <mat-error>{{ error }}</mat-error>
</ng-container>
<button (click)="onAssignPrio(1)" mat-button>Prio1</button>
<button (click)="onAssignPrio(2)" mat-button>Prio2</button>
<button (click)="onAssignPrio(3)" mat-button>Prio3</button>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Settings
    </mat-expansion-panel-header>
    <app-workshop-settings (newSettings)="newSettings($event)" [currentSettings]="config$ | async"></app-workshop-settings>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Topics
    </mat-expansion-panel-header>
    <app-add-topic (addNewTopic)="addTopic($event)"></app-add-topic>
    <app-topic-list [topics]="topics$ | async" (deleteTopic)="deleteTopic($event)" (deleteAllTopics)="deleteAllTopics()"></app-topic-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Add People
    </mat-expansion-panel-header>
    <app-add-person (newPerson)="addPerson($event)"></app-add-person>
    <app-person-list
      [persons]="personsList$ | async"
      (deletePerson)="deletePerson($event)"
      (deleteAllPersons)="deleteAllPersons()"
    ></app-person-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Add Votes
    </mat-expansion-panel-header>
    <app-vote-picker (vote)="addVote($event)"></app-vote-picker>
    <app-person-vote-picker [topics]="topics$ | async" [persons]="personsList$ | async" (vote)="addVote($event)"></app-person-vote-picker>
    <app-votes [votes]="votes"></app-votes>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      DND
    </mat-expansion-panel-header>
    <app-dnd-picker [sessions$]="sessions$" [sessionHolders]="sessionHolders" [votes]="votes" [topics]="topics$ | async"></app-dnd-picker>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Result
    </mat-expansion-panel-header>
    <div class="row">
      <app-validation
        class="column"
        [config]="config$ | async"
        [sessions]="sessions$ | async"
        [votes]="votes"
        [topics]="topics$ | async"
        [persons]="personsList$ | async"
        [sessionHolders]="sessionHolders"
      ></app-validation>
      <app-result [sessions]="sessions$ | async" selectedSession="sessionSelected$ | async" class="column"></app-result>
    </div>
  </mat-expansion-panel>
</mat-accordion>
